.sizeLabel {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: bold;
	background-color: transparent;
	color: var(--dark-blue-color);
	height: 100%;
	width: 90%;
	border-radius: 5px;
	transition: 0.3s ease;
}

.sizeItem {
	display: none;
}

.selectedSize {
	background-color: var(--light-green-color);
	color: var(--white);
}

@media(max-width:1252px) {
	.sizeLabel {
		font-size: 16px;
	}
}

@media(max-width:890px) {
	.sizeLabel {
		font-size: 14px;
	}
}