.filterPriceBox {
	color: var(--dark-blue-color);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.title {
	font-size: 24px;
	font-weight: 600;
}

.priceInputsWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filterField {
	color: var(--super-light-grey);
	font-size: 14px;
	max-width: 80px;
	text-align: center;
	border-radius: 16px;
	padding: 5px;
	font-weight: 500;
	box-shadow: 0px 0px 80px var(--super-light-grey);

}

.filterField::-webkit-inner-spin-button {
	display: none;
}

@media(max-width:768px) {
	.priceInputsWrapper {
		justify-content: center;
		gap: 20px;
	}

	.filterField {
		max-width: max-content;
		width: 100px;
	}

	.title {
		font-size: 22px;
	}
}

@media(max-width:500px) {


	.title {
		font-size: 20px;
	}


}

@media(max-width:425px) {


	.title {
		font-size: 18px;
	}

}