.hero_bunner {
	display: inline-flex;
	flex-wrap: nowrap;
	flex-direction: column;
	width: 100%;
	margin-bottom: 180px;
	animation: appearance 0.5s ease-out;
}

@media(max-width:1250px) {
	.hero_bunner {
		padding-left: 30px;
	}
}

@media(max-width:768px) {
	.hero_bunner {
		margin-bottom: 120px;
	}
}

@media(max-width:768px) {
	.hero_bunner {
		margin-bottom: 70px;
	}
}

@keyframes appearance {
	0% {
		opacity: 0;
		transform: translateZ(-20px);
	}

	100% {
		opacity: 1;
		transform: translateZ(0);
	}

}