.nav_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background-color: var(--dark-color);
	position: relative;
	transition: 0.3s;

	&:hover {
		scale: 1.1;
	}
}

.icon_counter {
	position: absolute;
	background-color: var(--light-green-color);
	color: #ffffff;
	font-size: 13px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	top: -8px;
	right: -6px;
}

@media (max-width:1220px) {
	.nav_icon {
		height: 35px;
		width: 35px;
	}

	.nav_icon>img {
		height: 20px;
		width: 20px;
	}

	.icon_counter {
		height: 16px;
		width: 16px;
		font-size: 10px;
		top: -5px;
		right: -3px;
	}
}