.sidebar {
	width: 235px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.filters {
	width: 100%;
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.sidebarButton {
	align-self: flex-end;
	display: none;
	color: var(--light-grey-color);

	background-color: var(--white);
	box-shadow: 5px 10px 30px var(--blue-shadow);
	font-size: 18px;
	font-weight: 600;
	padding: 5px 15px;
	max-width: 120px;
	border-radius: 20px;
	transition: 0.3s;

}

.clearFiltesButton {
	color: var(--dark-grey);
	align-self: baseline;
	background-color: var(--white);
	box-shadow: 5px 10px 30px var(--blue-shadow);
	font-size: 14px;
	font-weight: 500;
	padding: 5px 15px;
	max-width: 190px;
	border-radius: 20px;
	margin: 20px 0;
}

@media(max-width: 768px) {
	@media (max-width: 768px) {

		.sidebar {
			width: 100%;
			align-items: center;
		}

		.sidebarButton {
			display: block;
			position: sticky;
		}

		.openSidebar {
			align-self: flex-end;
			z-index: 10001;
		}

		.filters {
			position: fixed;
			left: 0;
			bottom: 0;

			width: 100%;
			height: 65vh;

			background: var(--white);
			box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.1);

			display: flex;
			flex-direction: column;
			gap: 20px;

			padding: 20px;

			overflow-y: auto;

			border-radius: 16px 16px 0 0;

			transform: translateY(100%);
			transition: transform 0.3s ease;

			z-index: 1000;
		}

		.mobileFilters {
			transform: translateY(0);
		}

	}
}