.quality_service {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-bottom: 80px;
}



@media(max-width:610px) {
	.quality_service {
		gap: 50px;
		margin-bottom: 30px;
	}
}

@media(max-width:425px) {
	.quality_service {
		gap: 0;
		margin-bottom: 30px;
	}
}