.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
}

.navigation_menu {
	display: flex;
	gap: 50px;
	margin: 0 10px;
}

.navigation-item {
	position: relative;
}

.navigation-item::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: var(--blue-color);
	transform: translateX(-50%);
	transition: width 0.3s ease;
}

.navigation-item:hover::after {
	width: 100%;
	/* растягиваем на всю ширину элемента */
}

.navigation_item a {
	font-weight: bold;
	font-size: 20px;
	transition: 0.3s;

	&:hover {
		color: var(--blue-color);
	}
}



.user_actions {
	display: flex;
	gap: 20px;
}



/* DEVICE WIDTH < 1220PX */
@media (max-width:1220px) {
	.site-logo {
		height: 65px;
	}

	.navigation_menu {
		gap: 30px;
	}

	.navigation_item a {
		font-size: 16px
	}



	.user_actions {
		gap: 25px;
	}


}

@media (max-width:910px) {
	.site-logo {
		height: 50px;
	}

	.navigation_menu {
		gap: 20px;
	}

	.navigation_item a {
		font-size: 14px;
	}



}

@media (max-width:760px) {
	.site-logo {
		height: 50px;
	}

	.navigation_menu {
		gap: 20px;
	}

	.navigation_item a {
		font-size: 12px;
	}



	.user_actions {
		gap: 12px;
	}



}

@media (max-width:620px) {
	.site-logo {
		height: 40px;
	}

	.navigation_menu {
		gap: 15px;
	}

	.navigation_item a {
		font-size: 10px;
	}

}

@media (max-width: 550px) {
	.site_logo {
		height: 35px;
	}

	.navigation_menu {
		gap: 12px;
	}

	.navigation_item a {
		font-size: 8px;
	}



	.user_actions {
		gap: 5px;
	}

}

@media (max-width:420px) {
	.site_logo {
		height: 25px;
	}

	.navigation_menu {
		gap: 8px;
	}



	.user_actions {
		gap: 5px;
	}

}