.site_logo {
	height: 85px;
	width: 85px;
}

@media (max-width:1220px) {
	.site_logo {
		height: 65px;
		width: 65px;
	}
}

@media (max-width:910px) {
	.site_logo {
		height: 50px;
		width: 50px;
	}
}

@media (max-width:620px) {
	.site_logo {
		height: 40px;
		width: 40px;
	}
}

@media (max-width:420px) {
	.site_logo {
		height: 25px;
		width: 25px;
	}
}