.product_card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 5px 20px 60px rgba(22, 92, 191, 0.1);
	border-radius: 20px;
	transition: 0.3s ease-in-out;
	max-width: 260px;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		transform: scale(1.05);
	}
}

.product_image {
	border-radius: 20px 20px 0 0;
	margin-bottom: 25px;
	width: 100%;
	height: 165px;
	object-fit: cover;
}

.product_body {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-left: 25px;
}

.product_title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	width: 90%;
	line-height: 1.2;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product_article {
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 10px;
	color: var(--light-grey-color);
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product_bottom {
	width: 100%;
	padding-right: 25px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 30px;
}

.product_price {
	font-size: 24px;
	font-weight: bold;
	color: var(--dark-blue-color);
}

@media(max-width:1060px) {
	.product_card {
		max-width: 190px;
		min-width: 120px;
	}

	.product_image {
		width: 100%;
		height: 135px;
		object-fit: cover;
	}

	.product_body {
		padding-left: 10px;
	}

	.product_title {
		font-size: 10px;
	}

	.product_article {
		font-size: 8px;
	}

	.product_bottom {
		padding-right: 10px;
		margin-bottom: 10px;
	}

	.product_price {
		font-size: 18px;
	}

}


@media(max-width:425px) {
	.product_card {
		max-width: 180px;
		min-width: 140px;
	}

	.product_image {
		width: 100%;
		height: 80px;
		margin-bottom: 10px;
	}

	.product_body {
		padding-left: 10px;
	}

	.product_title {
		font-size: 10px;
	}

	.product_article {
		font-size: 8px;
	}

	.product_bottom {
		display: flex;
		padding-right: 10px;
		align-items: center;
		margin-bottom: 10px;
	}

	.product_price {
		font-size: 14px;
	}

}