.navigation_item {
	position: relative;
	cursor: pointer;
}

.navigation_item::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: var(--blue-color);
	transform: translateX(-50%);
	transition: width 0.3s ease;
}

.navigation_item:hover::after {
	width: 100%;
	/* растягиваем на всю ширину элемента */
}

.navigation_item a {
	font-weight: bold;
	font-size: 20px;
	transition: 0.3s;

	&:hover {
		color: var(--blue-color);
	}
}

@media(max-width:1220px) {
	.navigation_item a {
		font-size: 16px
	}
}

@media (max-width:910px) {
	.navigation_item a {
		font-size: 14px;
	}
}

@media (max-width:760px) {
	.navigation_item a {
		font-size: 12px;
	}
}

@media (max-width:620px) {
	.navigation_item a {
		font-size: 10px;
	}

}

@media (max-width: 550px) {
	.navigation_item a {
		font-size: 8px;
	}
}