.list_link_page {
	display: flex;
	flex-direction: column;
	gap: 15px;
	font-size: 14px;
	font-weight: 400;
	align-items: center;

}

@media(max-width:375px) {
	.list_link_page {
		font-size: 12px;
	}
}