.best_products {
	margin-bottom: 75px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.swiper {
	display: flex;
	gap: 30px;
}

.section_title {
	padding-left: 120px;
	align-self: start;
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 100px;
	color: var(--dark-blue-color);
}