.link {
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 5px 15px 30px rgba(22, 92, 191, 0.2);
	border-radius: 50px;
	width: 280px;
	height: 85px;
	position: relative;
	overflow: visible;
	transition: 0.3s;

	&:hover {
		transform: translateY(-10px) scale(1.05);
	}
}

.hero_link_image {
	height: 100px;
	width: 175px;
	position: absolute;
	left: -28%;
	top: -10%;
}

.text_container {
	max-width: 140px;
	display: flex;
	color: var(--blue-color);
	align-self: center;
	font-weight: 900;
	font-size: 18px;
	align-items: center;
	position: relative;
}

.first_word {
	display: block;
}

.cta {
	position: absolute;
	display: inline-flex;
	color: var(--white);
	background-color: var(--light-green-color);
	padding: 3px;
	font-size: 30px;
	border-radius: 50%;
	right: -10px;
	top: -5px;
}

@media(max-width:850px) {
	.link {
		width: 240px;
		height: 75px;
	}

	.hero_link_image {
		height: 85px;
		width: 150px;
		left: -24%;
		top: -8.5%;
	}

	.text_container {
		max-width: 120px;
		font-size: 15px;
	}

	.cta {
		padding: 3px;
		font-size: 25px;
		right: -8.5px;
		top: -5px;
	}
}

@media(max-width:640px) {
	.link {
		width: 170px;
		height: 50px;
	}

	.hero_link_image {
		height: 55px;
		width: 105px;
		left: -20%;
		top: -5.95%;
	}

	.text_container {
		max-width: 85px;
		font-size: 12px;
	}

	.cta {
		padding: 3px;
		font-size: 18px;
		right: -8.5px;
		top: -5px;
	}
}

@media(max-width:640px) {
	.link {
		width: 150px;
	}

	.hero_link_image {
		left: -33%;
	}
}

@media(max-width:500px) {
	.hero_link_image {
		height: 35px;
		width: 75px;
		left: -25%;
		top: 15%;
	}
}

@media(max-width:400px) {
	.link {
		width: 90px;
		height: 35px;
	}

	.hero_link_image {
		height: 40px;
		width: 75px;
		left: -55%;
		top: -5%;
	}

	.text_container {
		max-width: 84px;
		font-size: 10px;
	}

	.cta {
		padding: 2px;
		font-size: 12px;
		right: -8.5px;
		top: -5px;
	}
}