:root {
	/* здесь прописать переменные для цветов */
	--color-background: #fcfcfc;
	--blue-color: #007FFF;
	--light-green-color: #34C759;
	--light-grey-color: #B3C0D2;
	--dark-blue-color: #002C6A;
	--dark-color: rgb(41, 41, 45);
	--super-light-grey: #C5DAEE;
	--blue-shadow: #165CBF4D;
	--white: #ffffff
}