.main {
	padding: 10px 30px;
	display: flex;
	width: 100%;
	gap: 60px;
}

@media(max-width: 768px) {
	.main {
		flex-direction: column;
		gap: 30px;
	}
}

@media(max-width: 768px) {
	.main {
		flex-direction: column;
		padding-left: 15px;
		padding-right: 15px;
	}
}