.brand_section {
	padding: 0 80px;
	margin-bottom: 100px;
}


.section_title {
	font-weight: bold;
	font-size: 48px;
	margin-bottom: 50px;
	color: var(--dark-blue-color);
	padding-left: 15px;
}



.swiper-wrapper {
	max-width: 92%;
}


.brands_content {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.nav_button {
	font-size: 35px;
	color: var(--light-green-color);
	background-color: transparent;
}

@media(max-width:1060px) {
	.brand_section {
		padding: 0 45px;
	}
}

@media(max-width:768px) {
	.brand_section {
		padding: 0 25px;
	}

	.nav_button {
		display: none;
	}
}

@media(max-width:1060px) {
	.section_title {
		font-size: 36px;
	}
}

@media(max-width:480px) {
	.brand_section {
		padding: 0 5px;
	}

	.section_title {
		font-size: 24px;
		margin-bottom: 30px;
	}
}