.quality_body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	max-width: 250px;
}

.quality_image {
	width: 100px;
	height: 100px;
}

.quality_text {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	color: var(--dark-blue-color);
}

@media(max-width:610px) {
	.quality_body {
		max-width: 100px;
	}

	.quality_image {
		width: 65px;
		height: 65px;
	}

	.quality_text {
		font-size: 16px;
		font-weight: 600;
	}

}

@media(max-width:425px) {
	.quality_body {
		max-width: 250px;
	}

	.quality_image {
		width: 45px;
		height: 45px;
	}

	.quality_text {
		font-size: 11px;
		font-weight: 600;
	}
}