.sizeSection {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 100%;

}

.title {
	font-size: 24px;
	color: var(--dark-blue-color);
	font-weight: 600;
}

.sizeGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
	max-height: 150px;
	overflow-y: auto;
}

.li {
	list-style: none;
}