.sizeSection {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 100%;

}

.title {
	font-size: 24px;
	color: var(--dark-blue-color);
	font-weight: 600;
}

.sizeGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
	max-height: 150px;
	overflow-y: auto;
}

.li {
	list-style: none;
}

@media(max-width:768px) {


	.title {
		font-size: 22px;
	}
}

@media(max-width:500px) {


	.title {
		font-size: 20px;
	}


}

@media(max-width:425px) {


	.title {
		font-size: 18px;
	}

}