.overlay {
	position: fixed;
	inset: 0;
	background: rgba(41, 41, 45, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal {
	display: flex;
	gap: 30px;
	background-color: var(--white);
	border-radius: 70px;
	padding: 30px;
	width: 80%;
}

.image {
	width: 50%;
	height: auto;

	border-radius: 45px;
	object-fit: cover;
}

.modalContent {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.modalHead {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 20px;
	height: 20%;
}

.nameProduct {
	max-width: 430px;

	font-size: 36px;
	font-weight: bold;

	margin-right: 20px;
}

.btnClose {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 45px;
	height: 45px;

	border-radius: 50%;
	font-size: 24px;

	color: var(--light-grey-color);
	background-color: var(--white);

	box-shadow: 5px 10px 30px var(--blue-shadow);
	cursor: pointer;
}

.modalMain {
	display: flex;
	flex-direction: column;
	gap: 15px;
	height: 80%;
}

.rating {
	font-size: 18px;
	color: var(--super-light-grey);
}

.star {
	color: gold;
}

.article {
	font-size: 20px;
	font-weight: lighter;
	color: var(--super-light-grey);
}

.price {
	font-size: 30px;
	font-weight: bold;
	color: var(--light-green-color);

}

.color {
	font-style: 24px;
	font-weight: 400;
	word-spacing: 20px;
}

.sizeGrid {
	display: grid;
	max-width: 470px;
	grid-template-columns: repeat(4, minmax(40px, 1fr));

	grid-auto-rows: 50px;
	align-items: center;
	justify-items: center;
}

.sizeLabel {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 90%;

	font-size: 18px;
	font-weight: bold;
	background-color: transparent;
	color: var(--dark-blue-color);

	border-radius: 5px;
	transition: 0.3s ease;
}

.sizeItem {
	display: none;
}

.selectedSize {
	background-color: var(--light-green-color);
	color: var(--white);
}

.btnAddCart {
	align-self: center;

	font-size: 18px;
	font-weight: bold;

	background-color: var(--light-green-color);
	color: var(--white);

	padding: 20px 0;
	width: 80%;

	border-radius: 50px;

}

.btnAddCart:disabled {
	background-color: var(--super-light-grey);
}

@media(max-width:1252px) {
	.nameProduct {
		font-size: 30px;
	}

	.article {
		font-size: 16px;
	}

	.price {
		font-size: 25px;
	}

	.sizeGrid {
		grid-auto-rows: 40px;
	}

	.btnAddCart {
		font-size: 16px;
		padding: 16px 0;
	}
}

@media(max-width:890px) {
	.btnClose {
		width: 35px;
		height: 35px;
		font-size: 20px;
	}

	.modalMain {
		gap: 10px;
	}

	.nameProduct {
		font-size: 22px;
	}

	.rating {
		font-size: 14px;
	}

	.price {
		font-size: 20px;
	}

	.color {
		font-size: 14px
	}

	.btnAddCart {
		font-size: 14px;
		align-self: flex-end;
	}

	.sizeGrid {
		grid-auto-rows: 30px;
	}
}

@media(max-width:768px) {
	.overlay {
		align-items: flex-end;
	}

	.modal {
		padding-top: 0;
		width: 100%;
		max-height: 80vh;
		flex-direction: column;
		align-items: center;
		border-radius: 50px;
		gap: 10px;
		position: relative;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.modalContent {
		width: 100%;
	}

	.btnClose {
		order: -1;
		align-self: flex-end;
		font-size: 24px;
		top: 0%;
		right: 0%;
	}

	.image {
		align-self: start;
		width: 100%;
		border-radius: 30px;
		max-height: 300px;
	}

	.btnAddCart {
		width: 80%;
		align-self: center;
	}
}

@media(max-width:425px) {
	.image {
		max-height: 180px;
	}
}