.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	padding-top: 15px;
	margin-bottom: 80px;
}

@media(max-width:435px) {
	.header {
		margin-bottom: 40px;
	}
}