.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	padding-top: 15px;
	margin-bottom: 80px;
}

.site_logo {
	width: 85px;
	height: auto;
}

@media (max-width:1220px) {
	.site_logo {
		width: 65px;

	}
}

@media (max-width:910px) {
	.site_logo {
		min-width: 45px;
		height: 45px;
	}
}

@media (max-width:620px) {
	.header {
		justify-content: space-around;
		padding: 0 15px;
		padding-top: 10px;
	}

	.site_logo {
		min-width: 30px;
		height: auto;
	}
}

@media(max-width:435px) {
	.header {
		padding-top: 5px;
		justify-content: center;
		gap: 10px;
		margin-bottom: 40px;

	}

	.site_logo {
		max-width: 30px;
		height: auto;
	}
}