.main {
	display: grid;
	justify-items: center;
	min-height: 60vh;
}

.messageNull {
	margin: auto 0;
	font-weight: bold;
	font-size: 30px;
	color: var(--light-grey-color);
}

.gridFavorites {
	display: grid;
	width: 100%;
	justify-content: center;
	justify-items: center;
	grid-template-columns: repeat(4, max-content);
	gap: 30px;
	margin-bottom: 100px;
}

@media(max-width: 1200px) {
	.gridFavorites {
		grid-template-columns: repeat(3, max-content);
	}
}

@media(max-width: 600px) {
	.gridFavorites {
		grid-template-columns: repeat(2, max-content);
	}
}