.social_link {
	max-width: 35px;
	max-height: 35px;
	transition: 0.3s;

	&:hover {
		transform: scale(1.1);
	}
}

@media(max-width:600px) {
	.social_link>img {
		max-width: 25px;
		max-height: 25px;
	}
}