.footer {
	display: flex;
	align-items: center;
	width: 100%;
	height: 300px;
	padding-left: 180px;
	background-color: var(--dark-color);
	gap: 65px;
	color: var(--light-grey-color);
}

.logo {
	height: 190px;
	width: 190px;
}