.footer {
	display: flex;
	align-items: center;
	width: 100%;
	height: 300px;
	padding-left: 180px;
	background-color: var(--dark-color);
	gap: 65px;
	color: var(--light-grey-color);
}

.logo {
	width: 190px;
	height: auto;
}

@media(max-width:860px) {
	.footer {
		padding: 0 60px;
		justify-content: space-between;
	}
}

@media(max-width:700px) {
	.footer {
		gap: 45px;
		height: 200px;
	}

	.logo {
		width: 110px;
	}
}

@media(max-width:500px) {
	.footer {
		padding: 0 30px;
		gap: 25px;
	}

	.logo {
		width: 85px;
	}
}

@media(max-width:425px) {
	.footer {
		padding: 15px;
	}

	.logo {
		width: 55px;
	}
}