.feedback {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.email_block {
	display: flex;
	gap: 5px;
}

.email_icon {
	width: 20px;
	height: auto;
}

.email_address {
	font-size: 18px;
	font-weight: 400;
}

@media(max-width:600px) {
	.feedback {
		gap: 30px;
	}

	.email_icon {
		width: 12px;
		height: auto;
	}

	.email_address {
		font-size: 12px;
	}
}

@media(max-width:375px) {
	.email_address {
		font-size: 10px;
	}
}